@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,500;1,300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;

}

#bodyinterna {width: 100%;
height: 875px;
 }

#bodyindex {width: 100%;
height: 1640px;
 }

#maininterna {width: 100%;
height: 875px;
margin-left: auto;
margin-right: auto;
}

#mainindex {width: 100%;
height: 1640px;
margin-left: auto;
margin-right: auto;}


header {width: 100%;
height: 100px;
background-color: #fffffa;
overflow: hidden;
}

.logo1 {height: 80px;
padding-left: 36%;
padding-top: 6px;}

nav	{width: 100%;
height: 50px;
padding-left: 28%;
padding-top: 15px;
overflow: hidden;}



nav li {
	 display: inline;
	 padding-right: 13%;
	 overflow: hidden;
 }


nav li a {
 text-decoration: none;
 padding: 1%;
 margin-top: 10px;
 color: #b01200;
 font-size: 140%;
 text-align: center;
 overflow: hidden;
 }

nav li:hover {text-decoration: underline;
transform: scale(1.02);
	transition: all ease 0.3s;
color:#b01300;
}

nav:hover {transform: scale(1.02);
	transition: all ease 0.3s;
color:#b01300;}

#sectioninterna	{width: 100%;
height: 675px;
margin-right: auto;
margin-left: auto;
overflow: hidden;}

#sectionindex	{width: 100%;
height: 1440px;
margin-right: auto;
margin-left: auto;
overflow: hidden;

}

#one {width: 90%; 
height: 250px;
margin-right: auto;
margin-left: auto;
background-image: url(../img/sorteo2.png);
background-size: cover;
overflow: hidden;}

#oneizq {width: 50%;
height: 250px;
float: left;
padding-left: 10%;
}

.sorteo {text-align: center;
	padding-top: 70px;
	font-size: 300%;
	
}

.sorteosub {text-align: center;
padding-top: 20px;
font-size: 140%;} 

#oneder {width: 50%;
height: 250px;
float: right;
padding-left:10%;
}

.formulario {margin-left: 10%;
}

#two {width: 100%;
height: 320px;
margin-left: auto;
margin-right: auto;
overflow: hidden;}

#twoizq {float: left;
height: 320px;
width: 60%;
padding-left: 70px;
padding-top: 10px;
overflow: hidden;}

.textoqs {text-align: left;
text-indent: 6%;
word-spacing: 5%;
line-height: 150%;
column-count: 2;
column-gap: 40px;
column-rule: 1px solid #b01200;
margin-top: 5px 
}

.titulo1 {margin-left: 40%;
	padding-top: 15px;
	padding-bottom: 20px;
	color: #b01200;
}
#twoder {margin-bottom: 60px;
	height: 320px;
float: right;
width: 40%;
padding-bottom: 10px;
overflow: hidden;}

.fotoqs {
height: 230px;
margin-left: 20%;
margin-top: 45px; 
}

#three {height: 870px;
width: 100%;
margin-right: auto;
margin-left: auto;
align-content: center;
overflow: hidden;
margin-top: 5px;}

.colección {
	height: 30px;
    width: 100%;
align-content: center;
text-align: center;
	font-weight: 0.2%;
	width: 100%;
	color: #b01200;
	padding-left: 40%;
}



#galeria {height: 740px;
width: 100%;
margin-left: auto;
margin-right: auto;
align-content: center;}

.foto3 {position: absolute;
padding: 10px;
margin-left: 13vw;}

.foto3:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto1 {position: absolute;
	left: 38.5vw;
padding: 10px;
}

.foto1:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto6 {position: absolute;
	left: 62vw;
padding: 10px;}

.foto6:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto4 {position: absolute;
	left: 38.5vw;
	top: 1030px;
padding: 10px;}

.foto4:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto7 {position: absolute;
	left: 62vw;
	top: 1030px;
padding: 10px;}

.foto7:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto5 {position: absolute;
	top: 1280px;
	left: 38.5vw;
padding: 10px;
}

.foto5:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto2 {position: absolute;
	top: 1330px;
	margin-left: 13vw;
padding: 10px;}

.foto2:hover {transform: scale(1.08);
	transition: all ease 0.3s;}



footer {width: 100%;
height: 50px;
background-color: #fffffa;
overflow: hidden;}
#fone{
	width: 33%;
	height: 50px;
	float: left;
	padding-top: 0.5%;
	padding-left: 2%;
	overflow: hidden;
}

#ftwo{
	width: 33%;
	height: 50px;
	float: left;
	text-align: center;
	padding-top: 20px;
	overflow: hidden;
}

#ftwo a {color: #000000;
text-decoration: none;}

#fthree{
	width: 34%;
	height: 50px;
	float: right;
padding-left: 25%;
padding-top: 0.5%;
overflow: hidden;
}

#fone {width: 33%;
height: 50px;
float: left;}

.logoch {height: 40px;
	padding-left: 20px;
}

.redes {height: 35px;
padding-left: 6px;}


/* Empieza página colección verano */

#verano1 {height: 200px;
width: 70%;
margin-right: auto;
margin-left: auto;
text-align: center;
line-height: 160%;
word-spacing: 5%;
padding-top: 30px;
overflow: hidden;}

#verano2 {height: 475px;
width: 100%;
padding-left: auto;
padding-right: auto;
margin-left: auto;
margin-left: auto;
justify-content: center;
	align-items: center;
overflow: hidden;}



.tituloscoleccion {text-align: center;
font-family: font-family: 'Work Sans', sans-serif, italic;
padding-bottom: 5%;}

form input{border-radius: 3px;
border-color: #b01200;}

form select{border-radius: 3px;
border-color: #b01200;}

form textarea{border-radius: 3px;
border-color: #b01200;}

ul{
	list-style:none;
}
a{
	text-decoration:none;
}

.container{
	width:70vw;
	height: 450px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	
}

.box{
	width:280px;
	height:400px;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(195,195,195,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 10px;
}
.model{
	height: 250px;
	border-radius: 10px;

}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 230px;
}

.details p{
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.producto{
	color:#b01300;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	margin-top: 8px;
}
.logo{
	height: 60px;
}
.box:hover{
	background-color: #fff9f3;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .producto{
	color:#580900;
	transition: all ease 0.5s;
}

.box:hover .details{
	color:#000000;
	transition: all ease 0.5s;
}






