@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,500;1,300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;

}

#bodymicro1 {height: 1200px;
	width: 100%;
}

#mainmicro1 {width: 100%;
height: 1200px;
margin-left: auto;
margin-right: auto;
}


header {width: 100%;
height: 120px;
overflow: hidden;

}

.logo1 {height: 80px;
padding-left: 37%;
padding-top: 6px;}

.by{text-align: center;
margin-right: auto;
margin-left: auto;}

nav	{width: 100%;
height: 50px;
padding-left: 27%;
padding-top: 15px;
overflow: hidden;

}



nav li {
	 display: inline;
	 padding-right: 13%;
	 overflow: hidden;
 }


nav li a {
 text-decoration: none;
 padding: 1%;
 margin-top: 10px;
 font-size: 140%;
 text-align: center;
 overflow: hidden;
 color: #000000;
 font-style: italic;
 }

nav li a:hover {text-decoration: underline;
transform: scale(1.02);
	transition: all ease 0.3s;
color:#b01300;
font-weight: 40%;
}

nav:hover {transform: scale(1.02);
	transition: all ease 0.3s;
color:#b01300;}

hr {width: 90%;
height: 1px;
margin-left: auto;
margin-right: auto;
align-content: center;
color:#b01300; }

.boton	{height: 50px;
width: 60px;}

#sectionmicro1 {width: 100%;
height: 980px;
margin-right: auto;
margin-left: auto;
overflow: hidden;
}

#rol {margin-left: auto;
margin-right: auto;
height: 150px; 
width: 50%;
padding-top: 10px;
text-align: center;
}

#apariencia {margin-left: auto;
margin-right: auto;
height: 250px; 
width: 300px;
text-align: center;
float: left;
padding: 5px;
position: absolute;
top: 390px;
left: 8vw;
}

#personalidad {margin-left: auto;
margin-right: auto;
height: 250px; 
width: 300px;
text-align: center;
float: right;
padding: 5px;
position: absolute;
top: 660px;
right: 8vw;
}

#contexto {margin-left: auto;
margin-right: auto;
height: 150px; 
width: 50%;
position: absolute;
top: 930px;
left: 25vw;
text-align: center;
}

.relevtituloprincipal {text-align: center;
margin-left: auto;
margin-right: auto;
font-size: 140%;
color: #b01300;}

.relevtitulo {text-align: center;
margin-right: auto;
margin-left: auto;
font-style: italic;
font-size: 130%;
font-weight: 300;
margin-top: 10px;}

.foto3 {position: absolute;
	left: 31vw;
	bottom: 150px;
padding: 10px;}

.foto3:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto1 {position: absolute;
	left: 70vw;
	bottom: 150px;
padding: 10px;}

.foto1:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.fhola {position: absolute;
right: 70vw;
top: 650px;
padding: 10px;}

.fhola:hover {transform: scale(1.08);
	transition: all ease 0.3s;}

.foto4 {position: absolute;
	left: 31vw;
	top: 650px;
padding: 10px;}

.foto4:hover {transform: scale(1.08);
	transition: all ease 0.3s;}


footer {width: 100%;
height: 50px;
overflow: hidden;}

#fone{
	width: 33%;
	height: 50px;
	float: left;
	padding-top: 0.5%;
	padding-left: 2%;
	overflow: hidden;
}

#ftwo{
	width: 33%;
	height: 50px;
	float: left;
	text-align: center;
	padding-top: 20px;
	overflow: hidden;
}

#ftwo a {color: #000000;
text-decoration: none;}

#fthree{
	width: 34%;
	height: 50px;
	float: right;
padding-left: 25%;
padding-top: 0.5%;
overflow: hidden;
}

#fone {width: 33%;
height: 50px;
float: left;}

.logoch {height: 40px;
	padding-left: 20px;
}

.redes {height: 35px;
padding-left: 6px;}

/*Empieza Pág Layout*/

#bodymicro2 {height: 1890px;
	width: 100%;
}

#mainmicro2 {width: 100%;
height: 1890px;
margin-left: auto;
margin-right: auto;
}

#sectionmicro2 {width: 100%;
height: 1670px;
margin-right: auto;
margin-left: auto;
overflow: hidden;}


#mapadesitio {height: 300px; 
width: 100%;
padding-top: 15px;
margin-right: auto;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
overflow: hidden;
align-content: center;}

#impresión {height: 1270px; 
width: 100%;
padding-top: 15px;
margin-right: auto;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
overflow: hidden;
align-content: center;}

.imgmapa {height: 250px;
align-content: center;
margin-left: 29%}

.subtit {text-align: center;
margin-left: auto;
margin-right: auto;
font-size: 130%;
font-style: italic;
padding-top: 15px;
padding-bottom: 15px;}

.fotoscapturasch {width: 400px;
margin-right: 10px;
margin-top: 5px;
margin-bottom:  30px;
border: 1px solid #b01300;}

#index {
	position: relative;
	width: 100%;
	left: 8%;
}
#botas {
	position: relative;
	width: 100%;
	left: 21%;
}
#camisas {
	position: relative;
	width: 100%;
	left: 21%;
}
#sombreros {
	position: relative;
	width: 100%;
	left: 21%;
}

/*Empieza Pág Diseño*/

#bodymicro3 {height: 860px;
	width: 100%;
}

#mainmicro3 {width: 100%;
height: 860px;
margin-left: auto;
margin-right: auto;
}

#sectionmicro3 {width: 100%;
height: 650px;
margin-right: auto;
margin-left: auto;
overflow: hidden;
padding: 10px;}

#tipografias {height: 130px;
width: 35%;
margin-left: auto;
margin-right: auto;
border: 1px dashed #b01300;
margin-top: 15px;
margin-bottom: 25px;}

.norm {
	padding-top: 10px;
font-size: 150%;
text-align: center;}


.bold {
font-weight: 500;
font-size: 150%;
padding-top: 10px;
text-align: center;}

.lightcursive {padding-top: 10px;
	text-align: center;
	font-weight: 200;
font-style: italic;
font-size: 150%;}

#paleta {height: 340px;
width: 60%;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 25px;
align-content: center;}

.swatch	{height: 300px;
margin-left: 6.5%;
margin-top: 15px;}

#hexadecimal {position: relative;
bottom: 40px;}

.hexa1 {margin-left: 9%;
float: left;
color: #ffffff;}
.hexa2 {margin-left: 7%;
float: left;}
.hexa3 {margin-left: 7%;
float: left;}
.hexa4 {margin-left: 8%;
float: left;}
.hexa5 {margin-left: 7.5%;
float: left;
color: #ffffff;}
.hexa6 {margin-left: 7%;
float: left;
color: #ffffff;}


